version: "3.9"

services:
  spark-driver-app:
    build:
      context: ./jupyter-all-spark-notebook-gcp
    container_name: spark-driver-app
    ports:
      - "8888:8888"    # Jupyter
      - "4040:4040"    # Spark UI
    volumes:
      - ~/notebooks:/home/jovyan/work/notebooks
      - ~/data:/home/jovyan/work/data
      - ~/checkpoint:/home/jovyan/work/checkpoint
    networks:
      - spark-net
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - SPARK_MASTER=spark://spark-master:7077
    depends_on:
      - spark-master

  spark-master:
    build:
      context: ./spark-bitnami-python3.11
    container_name: spark-master
    ports:
      - "8080:8080"    # Spark Master UI
      - "7077:7077"    # Spark Master Port
    networks:
      - spark-net

  spark-worker-1:
    build:
      context: ./spark-bitnami-python3.11
    container_name: spark-worker-1
    ports:
      - "8081:8081"
    environment:
      - SPARK_MASTER_URL=spark://spark-master:7077
    depends_on:
      - spark-master
    networks:
      - spark-net

  spark-worker-2:
    build:
      context: ./spark-bitnami-python3.11
    container_name: spark-worker-2
    ports:
      - "8082:8081"
    environment:
      - SPARK_MASTER_URL=spark://spark-master:7077
    depends_on:
      - spark-master
    networks:
      - spark-net

  zookeeper:
    image: zookeeper:3.4.9
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - spark-net

  kafka:
    image: confluentinc/cp-kafka:5.2.5
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - spark-net

networks:
  spark-net:
    driver: bridge
